@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #080c49;
  --lcolor: #13ffe2;
  --rcolor: #6318ff;
}
@font-face {
  font-family: 'regular';
  src: url('../public/assets/fa-brands-400.woff2') format('woff2');
}

.gradient-border {
  border: 3px solid transparent;
  border-image-source: none;
  border-image-slice: 1;
  border-image: linear-gradient(to right, #13ffe2, #6318ff) 1;
  text-align: center;
}

scrollbar-h::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
.scrollbar-h {
  scrollbar-width: none;
}